* {
  box-sizing: border-box;
}

body {
  background: url('assets/freedom.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1, p {
  color: rgba(48, 48, 48, 1);
  font-variant: small-caps;
  font-stretch: expanded;
  text-align: center;
  font-family: cinzel, 'sans-serif';
  }

h1 {
  font-size: 4rem;
  margin-top: 8rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

p {
  font-size: 1.5rem;
  font-style: italic;
}